*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
#header{
 height: 100vh;
 background-image: url(Assets/DJ.jpg);
background-repeat: no-repeat;
background-position: right;
background-size: contain;
background-size: 80vh;

}

.container{
  margin-right: 100px;
  margin-left: 100px;
}

.logo{
  margin-top: 5px;
  height: 50px;
  width:80px;
}

.header-text{
  max-width: 350px;
  margin-top: 140px;
}

.header-text h1{
  font-size: 34px;
}

.common-btn{
  padding: 18px 30px;
  background: transparent;
  outline: none;
  border:2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
}

p{
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
  color:#777;
}

.header-text button{
  margin-top: 20px;
  margin-bottom: 60px;
}
.line-1{
width: 15px;
height: 15px;
background: #f67c92;
display: inline-block;
}
.line-2{
width: 15px;
height: 15px;
background: #f67c92;
display: inline-block;
}
.line-3{
width: 15px;
height: 15px;
background: #f67c92;
display: inline-block;
}
.line-1:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.line-2:hover{
  transform: translateY(-10px);
  transition: 0.7s;
}
.line-3:hover{
  transform: translateY(-10px);
  transition: 0.9s;
}
#sidenav{
  width: 250px;
  height:100vh;
  position: fixed;
  left: -250px;
  top: 0px;
  background: #f67c92;
  z-index: 2;
  transition: .5s;
}
nav ul li{
  list-style: none;
  margin: 60px 20px;

}
nav ul li a{
  text-decoration: none;
  color: #fff;
}

#menubtn{
  width: 50px;
  position: fixed;
  left: 20px;
  top: 5px;
  z-index: 2;
  cursor: pointer;
}

/*---song----*/
#newRelease{
  padding: 200px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.left-col{
  flex-basis: 50%;
}

.left-col img{
width: 100%;
}

.right-col{
  flex-basis: 50%;
  text-align: right;
}

.text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.text h2{
margin: 50px 0 10px;
font-size: 28px;
font-style: italic;
}

.text button{
margin-bottom:10px;
}
/*---concerts----*/

.hero{
  width: 100%;
  height:100vh;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: flex;
  justify-content: space-around;
}

.hero h1{
  margin: 200px 50px ;
font-size: 60px;
position:relative;
z-index: 2;
-webkit-text-fill-color:transparent;
-webkit-text-stroke: 2px #000;
cursor: pointer;
}

.hero h1:hover{
  -webkit-text-fill-color:#000000;
  transform: translateY(-10px);
  transition: 0.7s;
}

.concert{
position: absolute;

height: 100%;
width: 100%;
background-image: url();
background-size: cover;
background-repeat: no-repeat;
background-position: center;
transition: 0.5s;

}
.hero h1:nth-child(1):hover ~ .concert{
  background-image: url(Assets/concert12.jpg);


}
.hero h1:nth-child(2):hover ~ .concert{
  background-image: url(Assets/concert13.jpg);

}
.hero h1:nth-child(3):hover ~ .concert{
  background-image: url(Assets/lol.jpg);

}

/*----footer---*/

#footer{
  padding: 50px 0 30px;
}
hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;
}
.footer-row{
  display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   }

.footer-left-col{
  margin-top: 50px;
  margin-left: 30px;
  flex-basis: 50%;
}
.footer-right-col{
  flex-basis: 35%;
  margin-top: 50px;
  margin-right: 30px;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title h4{
  color: #fab3c4;
  margin-bottom: 20px;
  }
.link-title small{
  font-size: 13px;
  color: #777;
}
